.App-logo {
  animation: spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-intro {
  font-size: large;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.SubNavBar-title > ul {
  padding: 0;
  align-items: baseline;
  width: 100%;
  overflow-x:hidden;
  /* white-space:nowrap; */
  margin: 5px 0;
}

.SubNavBar-module > li {
  background-color: rgb(211, 216, 222);
  list-style: none;
  width: 200px;
  text-align: center;
  float: left;
  /* margin: 0 42px 0 42px; */
  width: 25%;
  display:inline;
  padding: 7px;
}

.SubNavBar-module > li:hover {
  background-color: rgb(199, 199, 199);
}

.background-create {
  width: 80%;
  background-color: white;
  align-items: center;
}


.center-align {
  width: 25%;
  margin: 0 auto;
  text-align: center;
}
